@import 'clearfix.css';
@import 'normalize.css';
@import '960.css';
@import 'font-awesome.css';
#page{
	width: 1080px;
	right-width:1200px;
	margin: auto auto;
}
h2{
	padding: 1px;
	margin:5px;
	padding-bottom: 5px;
	border-bottom:1px dotted gray;
	font-family: STCaiyun,"华文彩云";
	color: blue;
	font-size: 20px;
}

nav ul{
	list-style: none;
	padding-left: 0px;
}	
#picture2{
	float:right;
	margin-right:300px;
	margin-bottom: 20px;
	margin-top: 38px;
	padding:2px;
	border: 1px solid grey;	
}
nav{
	position:fixed;
	top:0;
	left:0;
	right:0;	
	width: 100%;
	background-color: black;
}

nav li{
	float:left;
}
nav ul{
	width:980px;
	margin: 0 auto;	
}
nav a{
	display: block;
	padding:10px;
    font-family: STCaiyun, "华文彩云";
    text-decoration: none;
	color: white;		
}
nav a:hover{	
	background-color: blue;
}
/*#bg-image{   
    position:absolute;   
    top:0;   
    left:0;   
    height:100%;   
    width:100%;
    z-index:-9;     
}   
#bg-image img{
	width:100%;
}
*/
body{
background-image:url(48F58PICR4n_1024.jpg);
  /*background-repeat:repeat;*/
}