nav{
	text-align: center;
	background-color: rgb(185,172,163);
	height: 40px;
	vertical-align: middle;
	display: table-cell;
}

nav ul{
	list-style: none;
	display: inline-block;
}

nav li{
	float: left;
	margin-right: 50px;
	font-size: 30px;
	line-height: 40px;
}


nav a{text-decoration: none;color: white;}

nav a:hover{	
	background-color: blue;
}

body{
   background: none;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}	